@media only screen 
  and (min-device-width: 250px) 
  and (max-device-width: 320px)
   {
.sidebar {
    width: 0px;
    height: 100vh;
    overflow: hidden;
    transition: width .5s;

}
.opensidebar-mobile{
    width: 200px;
    overflow: visible;
}
 .sidebar .nav-item .collapse {
    background: #0c223d;
}
.heading-with-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.holder-btn {
      margin-left: 0px;margin-top: 14px;
 }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 900px)
   {
.ordingring-products {
    display: flex;
    text-align: center;
}    
.mx-3 {
    margin-left: 0.3rem!important;
}
.address-para{
    font-size: 16px;
}
.padding-left0{
    padding-left: 0px !important;
}
.sidebar {
    width: 0px;
    height: 100vh;
    overflow: hidden;
    transition: width .5s;
}
.product-categories-flex {
    display: flex;
    justify-content: center;
}
.heading-with-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.holder-btn {
      margin-left: 0px;margin-top: 14px;
 }
 .bothsearch-form *{
    flex: 1;
 }
.opensidebar-mobile{
    width: 200px;
    overflow: visible;
}
.h3, h3 {
    font-size: 1.55rem;
}
.h4, h4 {
    font-size: 1.4rem;
}
.super-btn-bg{
    padding: 1px 5px;
    font-size: 14px;
} 
.bulk-btn{
    font-size: 14px;
}  

.sidebar .nav-item .collapse{
    background: #0c223d;
}

.table-content tr td {
    font-size: 11px;
    width: auto;
}
.width30{
    width: 30% !important;
}
.admin-box div {
    font-size: 12px;
}
.professional-content-bg{
margin:0px;
}
.heading-btn-inline {
    display: flex;
    flex-direction: column;
}	   
.heading-btn-inline button{ 
    width: 90%;
    margin-top: 10px;
	margin-left:0px
}	
.request-filter-box{
    margin-bottom: 20px;
}

.three-btn>button {
    padding: 10px 10px;
    font-size: 14px;
}

select.select-width option{
font-size: 14px;width: 30%;
} 

 td.qty select {
    width: auto;
}
    .left-all-published {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: column;
}
.page-filter-form {
    display: flex;
    align-items: normal;
    flex-direction: column;
}
.page-filter-form div {
    padding-right: 4px;
}
.page-filter-form div:last-child {
    margin-left: 0;
    margin-top: 5px;
}
.all-page-table{
    width: 1200px;
}
.bothsearch-form {
    display: flex;
    justify-content: space-between;
}
.table-content .theme-color .form-check{
padding-left:15px;
}
.search-form-bg{
    width:100% !important;margin-bottom: 10px;
}
.add-new-page-box{
margin-top: 20px;
}
.alert-light {
padding: 10px;
}

.alert-light div{
font-size: 14px;
}
.select-width {
    white-space: normal;
    padding: 5px 15px;
    border: 1px solid #5d6d7e !important;
}

}


@media screen and (max-width: 900px) {
.about-me-box-one {
    padding: 20px;
    background: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.admin-box h3 {
    font-size: 35px;
     
} 

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1030px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .search-form-bg {
    width: 220px;
 }
    .full-width-for-ipad{
       flex: 0 0 100%;
    max-width: 100%;
}
 .full-width-for-ipad .bothsearch-form {
    display: flex;
    justify-content: left;
}
.heading-btn-inline button {
    width: 65%;
    margin-top: 10px;
    margin-left: 0px;
}

}




 
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
 .gap_between_btns{
    gap: : 0px !important
 }
.request-filter-box{
        padding: 9px !important;
    margin-right: 0 !important;
}

.left-sidebar-bg{
       flex: 0 0 100%;
    max-width: 100%;
}

.right-sidebar-bg{
       flex: 0 0 100%;
    max-width: 100%;
}
.full-width-for-ipad {
    flex: none;
    max-width: fit-content;margin-bottom: 30px;
}
}