
.removebox_shdow:focus{
    outline: 0;
    box-shadow:none;
}

.dk-border-radius{
    border: 1px solid #D6D7E3;
    border-radius: 7px;
        width: 60% !important;
}
.save_profile_btn{
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background: #2C3E50;
    color: #fff;
    border-radius: 0.35rem;
}
.whoiamtitle{
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 57px;
    color: #FF3C5F;
}

.btn{
    padding: 0px 0px 0px 9px;
}
.btn-right-icon {
   padding: 0px 15px 0px 9px;
    border: none;
    border-radius: 8px;background:#EFF0F6;
}
.btn-right-icon i{
 color:   #D6D7E3;
}
.search-form-bg-i{
    height: 44px
}
.search-form-bg-i::placeholder{
     color:   #D6D7E3
}
.top-icon-bg{
      font-weight: 900;
    background: #EFF0F6;
    padding: 13px;
    border-radius: 40px;
    width: 42px;
    height: 40px;
}
#content{
 background:#fff !important;
}
.search-form-bg{
     
    border-radius: 8px;
    background: #EFF0F6;
    height: 44px;
}
.search-form-bg input{
     
    background: #EFF0F6;
}
.date-border{
border: 1px solid #eee;
    border-radius: 5px;
    padding: 0;
}
.table-bg{
background:#0C223D
}
.table-bg tr th{
    font-size: 14px;
    color:#fff;
    font-weight: 500;letter-spacing: -0.3px;
}
.table-content tr td{
    font-size: 12px;
}
.table-content tr td img{
    border-radius: 25px;
    margin-right: 5px;
}
.table-content td{
vertical-align: middle;
}

.theme-color{
    color: #192A3E;

}
.row-color{
 background: #FBFBFB;
 border-top: 5px solid #fff;
 margin-top: 20px;
}
.row-color td{
 background: #FBFBFB;
border-top: 0px solid #e3e6f0;
}
.row-color th{
 background: #FBFBFB;
border-top: 0px solid #e3e6f0;
}



.right-sidebar-bg{
    background: #fafaff;height: 100vh;
}
.sidebar-box {
    display: flex;
    background: white;
    padding: 20px 1px 0px 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.circle-bg {
    background: #e5e6f0;
    padding: 10px;
    border-radius: 68px;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.circle-map-building-bg{
        background: #ffe4bb;
    padding: 10px;
    border-radius: 68px;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.sidebar-box .right h4{
    font-size: 18px;
    color: #171717;    margin-bottom: 2px;font-weight: 600;
}
.sidebar-box .right p{
    font-size: 14px;
    color: #B9B9B9;
;
}



/*card css from here*/

.card1 {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    overflow: hidden;
}
.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    margin-top: 20px;
}
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}
.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%);
}

.dropdown-menu-end {
    --bs-position: end;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}
.text-start {
    text-align: left!important;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}
.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}
.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.card-body {
    padding: 0 20px 20px 20px;
}
.pb-0 {
    padding-bottom: 0!important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title {
    margin-bottom: 0.5rem;
}
.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}
.news .post-item{
    margin: 15px 0px;
}
.news img {
    width: 48px;
    float: left;
    border-radius: 5px;margin-right: 16px;
}
.news h4 {
    font-size: 14px;
    margin-left: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}
 
.news p {
    font-size: 12px;
    color: #777777;
    margin-left: 48px;
}
 .news h4 a {
    color: #012970;
    transition: 0.3s;
}
.v-ellips{
        display: flex;
    justify-content: flex-end;
    padding: 7px 0px;
} 
/*card css end*/

/*escort dashboard request product css from here*/

/*tab css start*/
 .dk-tab .nav-item {
    
    margin: 0px 5px;
    border-radius: 3px;
}
.dk-tab .nav-item a{
    color:#fff;
    background: #2C3E50;
    border-radius: 3px;
    font-size: 14px;
}
.nav-item a.active{
     background: #0c223d !important;  
}
.tab-content-bg {
    background: #f3f3f3;
   /* padding: 20px;*/
}
.member-id{
    display: flex;
    align-items: center;
}
.member-id svg{
    margin-right: 10px;
}



.box_shadow_fill_profile{
    box-shadow: 0 0 2px 0px;
}

.about-me-box-one {
    padding: 20px;
    background: #fff;margin-top: 30px;    display: flex;
}
.about-me-box-one-name{
    font-size: 43px;
    font-weight: 700;
    border: none;
    padding: 5px 0px;
    color:#0c223d;
        
} 

.about-me-box-one-number{
    font-size: 24px;
    font-weight: 700;
    border: none;
    padding: 5px 0px;
    color:#0c223d ;

}

.about-me-box-one-map {
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 0px;
    color:#0c223d;
}




/*first tab about me section*/

.gap_between_btns{
    gap: 15px;
}

.select_tag_remove_box_sadow:focus{
    box-shadow: none;
}

.select_tag_remove_box_sadow option:actove{
    background: #0C223D;
}

.form_process p{
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #192A3E;
    margin: 0px;
    padding: 10px 0px;
}
.steps_to_filled_form{
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0C223D;
}


.filled_form_in_persantage{
      font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #0C223D;
}
.manage_process_bar_padding{
    padding-top: 10px;
    padding-bottom: 50px;
}

.define_process_bar_width{
    height: 0.3rem;
}
.define_process_bar_color{
    background-color: #0c223d;
}


.fill_profile_headings_global h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    color: #0C223D;

}

.about_me_drop_down_info{
    padding: 20px;
    background: #fff;
    margin: 15px 0px;
}

.about_me_heading_in_first_tab{
    border-bottom: 1px solid #90A0B7;
}
.padding_20_all_side{
    padding: 20px 0px;
}

.selecated_languages{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.languages_choosed_from_drop_down{
    padding: 5px;
    background: #5D6D7E;
    border-radius: 4px;
    color: white;
}




@media screen and (max-width: 540px) {
  .remove_padding_in_ph{
    padding: 0px 0px;
}
}

/*first tab about me section*/


/*second tab myservice and rate start here*/

.manage_tag_style ul{
    padding: 0px;
    list-style: none;
}
.manage_tag_style ul li{
    display: inline-block;
}
.input_border{
    width: 60px;
    border-color: transparent;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 0px 10px;
}
/*.input.input_border::before{
    content: '$';
}*/

.my_service_anal{
 padding: 5px;
 background: #5D6D7E;
 border-radius: 5px;
 color: white;
}

.service_rate_dolor_symbol{
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

/*second tab myservice and rate end here*/



/*tab css end*/

/*complite profile popup style start here*/


.success-checkmark {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    }
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        background: #323C47;
        border: 4px solid #323C47;
        }
        .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        .success-checkmark::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #fff;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
        }
            
            .line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            .line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
           
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.congratulation_finish_profile{
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
}
.congratulation_finish_profile{
    padding: 30px 0px;
}


.popupclosebtn{
 background: #2C3E50;
 padding: 5px 15px;
 color: white;
}

.popupclosebtn:hover{
    color: white;
}
.popupclosebtn:focus{
    box-shadow: none;
}

/*complite profile popup style end here*/






/*tab responsive start here*/

@media screen and (max-width: 767px) {
    .about-me-box-one-name{
     font-size: 28px;
    }
    .about-me-box-one-number{
     font-size: 18px;
    }
    .about-me-box-one-map{
     font-size: 14px;
    }
}



@media screen and (max-width: 991px) {
    .filled_form_in_persantage{
     font-size: 36px;
     line-height: 32px;
    }
}


    
    @media screen and (max-width: 6px) {
        .tab-content-bg{
            padding: 0px;
        }
}



/*tab responsive end here*/





/*escort dashboard request product end  */

/*admin dashboard css form here*/

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
     
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #5D6D7E;
;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

.admin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
   box-shadow: 0px 6px 18px 0px #A0A3BD1A;
    padding: 17px 0px;
    margin-bottom: 10px;    text-align: center;
}
 .admin-box h3 {
    font-size: 44px;font-weight: 600;
}
.admin-box div {
    display: flex;
  
    margin-top: 16px;
    font-size: 16px;
}
.admin-box div svg{
        margin-right: 10px;
}

.admin-box h3{
    color: #5D6D7E;

}

.sidebar-box-administrator{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
background: #FFFFFF;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;    margin-bottom: 10px;
}

.sidebar-table{
    width: 100%;    margin-top: 10px;
}
.sidebar-table td.leftside-table{
    text-align: left;padding: 6px 0px;color:  #0C223D;
}
.sidebar-table td.rightside-table{
    text-align: right;padding: 6px 0px;color:  #0C223D;;
}


/*admin dashoard end*/



/*admin dashbard start form Legbox*/

.dot-dropdown .dropdown-item {
    font-size: 14px;
    padding: 3px 15px;
    transition: 0.3s;
}
.fa-ellipsis{
    transform:rotate(90deg)
}
/*admin dashbard end Legbox*/


@media screen and (max-width: 900px) {
.about-me-box-one {
    padding: 20px;
    background: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.admin-box h3 {
    font-size: 35px;
     
}
}