 
a{
    text-decoration: none ;
    color: #192A3E;
}
a:hover{
    text-decoration: none ;
    color: #192A3E;
    
}
p>a{
    font-size: 18px;
}
p{
    font-size: 16px;
}
.dk-border-radius{
    border: 1px solid #D6D7E3;
    border-radius: 7px;
        width: 60% !important;
}
.btn{
    padding: 0px 0px 0px 9px;
}
.btn-right-icon {
   padding: 0px 15px 0px 9px;
    border: none;
    border-radius: 8px;background:#EFF0F6;
}
.btn-right-icon i{
 color:   #D6D7E3;
}
.search-form-bg-i{
    height: 44px
}
.search-form-bg-i::placeholder{
     color:   #D6D7E3
}
.top-icon-bg{
      font-weight: 900;
    background: #EFF0F6;
    padding: 13px;
    border-radius: 40px;
    width: 42px;
    height: 40px;
}
#content{
 background:#fff !important;
}
.search-form-bg{
     
    border-radius: 8px;
    background: #EFF0F6;
    height: 44px;
}
.search-form-bg input{
     
    background: #EFF0F6;
}
.date-border a{
border: 1px solid #eee;
    border-radius: 4px;
   padding: 5px 10px;
}
.bothsearch-form{
    display: flex;
   justify-content: flex-end;
}
.table-bg{
background:#0C223D
}
.table-bg tr th{
    font-size: 14px;
    color:#fff;
    font-weight: 500;letter-spacing: -0.3px;
}
.table-content tr td{
    font-size: 12px;
}
.table-content tr td img{
    border-radius: 25px;
    margin-right: 5px;
}
.table-content td{
vertical-align: middle;
}

.theme-color{
    color: #192A3E;

}
.row-color{
 background: #FBFBFB;
 border-top: 5px solid #fff;
 margin-top: 20px;
}
.row-color td{
 background: #FBFBFB;
border-top: 0px solid #e3e6f0;
}
.row-color th{
 background: #FBFBFB;
border-top: 0px solid #e3e6f0;
}



.right-sidebar-bg{
    background: #fafaff;height: 100vh;
}
.sidebar-box {
    display: flex;
    background: white;
    padding: 20px 1px 0px 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.circle-bg {
    background: #e5e6f0;
    padding: 10px;
    border-radius: 68px;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.circle{
      background: #EDF2F7;
 padding: 10px 15px;
    border-radius: 68px;
    
   
}
.circle>span{
font-weight: 600 !important;color: #000 !important;
}
.circle-map-building-bg{
        background: #ffe4bb;
    padding: 10px;
    border-radius: 68px;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.sidebar-box .right h4{
    font-size: 18px;
    color: #171717;    margin-bottom: 2px;font-weight: 600;
}
.sidebar-box .right p{
    font-size: 14px;
    color: #B9B9B9;
;
}



/*card css from here*/

.card1 {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    overflow: hidden;
}
.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    margin-top: 20px;
}
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}
.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%);
}

.dropdown-menu-end {
    --bs-position: end;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}
.text-start {
    text-align: left!important;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}
.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}
.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.card-body {
    padding: 0 20px 20px 20px;
}
.pb-0 {
    padding-bottom: 0!important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title {
    margin-bottom: 0.5rem;
}
.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}
.news .post-item{
    margin: 15px 0px;
}
.news img {
    width: 48px;
    float: left;
    border-radius: 5px;margin-right: 16px;
}
.news h4 {
    font-size: 14px;
    margin-left: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}
 
.news p {
    font-size: 12px;
    color: #777777;
    margin-left: 48px;
}
 .news h4 a {
    color: #012970;
    transition: 0.3s;
}
.v-ellips{
        display: flex;
    justify-content: flex-end;
    padding: 7px 0px;
} 
/*card css end*/

/*escort dashboard request product css from here*/

/*tab css start*/
 .dk-tab .nav-item {
    
    margin: 0px 5px;
    border-radius: 3px;
}
.dk-tab .nav-item a{
    color:#fff;
    background: #2C3E50;     border-radius: 3px;      font-size: 14px;
}
.nav-item a.active{
     background: #0c223d !important;  
}
.tab-content-bg {
    background: #f3f3f3;
    padding: 15px;
    height: 100vh;
    width: 925px;
}
.member-id{
    display: flex;
    align-items: center;
}
.member-id svg{
    margin-right: 10px;
}
.about-me-box-one {
    padding: 20px;
    background: #fff;margin-top: 30px;    display: flex;
}
.about-me-box-one-name{
    font-size: 43px;
    font-weight: 700;
        border: none;
        
} 
.about-me-box-one-name::placeholder{
color:#0c223d ;
}
.about-me-box-one-number{
       font-size: 24px;
    font-weight: 700;
        border: none;
}
.about-me-box-one-number::placeholder{
color:#0c223d ;
}
.about-me-box-one-map {
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 95%;
}
.about-me-box-one-map::placeholder{
color:#0c223d ;
}

.about-md-box-social{
    display: flex;
}
.about-md-box-social div{
    margin-right: 10px;
}
.about-me-right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}
/*tab css end* /

/*escort dashboard request product end*/

/*admin dashboard css form here*/

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
     
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #5D6D7E;
;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

.admin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
   box-shadow: 0px 6px 18px 0px #A0A3BD1A;
    padding: 17px 0px;
    margin-bottom: 10px;    text-align: center;
}
 .admin-box h3 {
    font-size: 44px;font-weight: 600;
}
.admin-box div {
    display: flex;
  
    margin-top: 16px;
    font-size: 16px;
}
.admin-box div svg{
        margin-right: 10px;
}

.admin-box h3{
    color: #5D6D7E;

}

.sidebar-box-administrator{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
background: #FFFFFF;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;    margin-bottom: 10px;
}

.sidebar-table{
    width: 100%;    margin-top: 10px;
}
.sidebar-table td.leftside-table{
    text-align: left;padding: 6px 0px;color:  #0C223D;
}
.sidebar-table td.rightside-table{
    text-align: right;padding: 6px 0px;color:  #0C223D;;
}


/*admin dashoard end*/



/*admin dashbard start form Legbox*/

.dot-dropdown .dropdown-item {
    font-size: 14px;
    padding: 3px 15px;
    transition: 0.3s;
}
.fa-ellipsis{
    transform:rotate(90deg)
}
/*admin dashbard end Legbox*/


/*super admin dashboard pages css from here*/
.super-btn-bg{
    background-color: #0C223D;
    padding: 2px 7px;
    border-radius: 3px;
    margin-left: 18px;font-size: 15px;
}

.super-btn-bg:hover{
     background-color: #0C223D;
     text-decoration: none;
}

.allpublished{
    display: flex;
}
.page-all-list span{
    color: #5D6D7E;

}
.page-published span{
      color: #5D6D7E;
}
.page-filter-form {
    display: flex;
    align-items: center;
}
.page-filter-form div{
    padding-right: 16px;
}
.page-filter-form div:last-child{
    margin-left: auto;
}

.left-all-published{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-btn-border-radius{
    border-radius: 10px;
        border: 1px solid #D6D7E3;
    border-radius: 7px;
}
.page-btn-border-radius input{
font-size:14px;
}
.page-filter-form div select {
    width: 170px;
}
.bulk-btn{
        color: #fff;
    background-color: #0c223d;
    border-color: #0c223d;
    padding: 5px 10px;
    border-radius: 5px;
}
.all-page-table td{
    font-size: 12px;
}
.all-page-table th{
    font-size: 12px;font-weight: 400;
    color:#0c223d ;
}
.width25{
    width: 25%;
}
.width25 a{
    margin-right: 5px;    line-height: 25px;    color: #5D6D7E;
}
.width25 a:last-child{
    color:#ff4040
}
.all-page-table tr th{
    border-bottom: 0px solid #e3e6f0;
    border:0px
}
.all-page-table td{
     border-top: 0px;vertical-align: middle;
}
tr.bg{
    background-color: #f9f9f9;
}

.bg .form-check{
    float: left;
}

.width25 .form-check{
    float: left;
}
/*super admin dashboard pages css from here*/

/*Add New Page start form*/

.new-page-input-text input{
    font-size: 12px;
}
.new-page-input-text label{
    font-size: 12px;
    padding-bottom: 15px;
}
.new-page-input-text label span{
    color: #1fe480;
}
.gap{
  padding: 45px 0px;
}
.footer-link-box{
    padding: 15px 25px;
    border: 1px solid #5D6D7E;
    border-radius: 4px;
}
.footer-link-box span{
    font-size: 16px;
}
.add-page-btn{
       padding: 2px 6px;
    font-size: 13px;
    background: #0c223d;
    margin-top: 10px;width: 100%;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0c223dcf;
    border-color: #0c223dcf;
    text-decoration: none;
}
/*Add New Page start form*/



/**/
.padding-palatinum{
    background: #FFAC321A;
    padding: 6px 15px;
    border-radius: 8px;color: #FFB648;
}
 .padding-Verified{
    background: #5887FF1A;
    padding: 6px 15px;
    border-radius: 8px;color: #5887FF;
}
 .padding-inactive{
   background: #F55B5D1A;
    padding: 6px 15px;
    border-radius: 8px;color: #F26464;;
}
a.dropdown-icon-color  {
    color: #90A0B7;
}
a.dropdown-icon-color i {
    float: right;
}



/*product request start*/
.ordingring-products{
    display: flex;
}
.ordingring-products div{
    margin-right: 30px;
}
 td.qty{
    width: 7%;
}
 td.qty select{
    width: 100%;
}
.product-list li{
    font-size: 15px;
}
.product-list {
    padding: 0 15px ;
}
.total-bg{
    background: #5D6D7E;color:#fff;
}
 .total-bg td{
     color:#fff;
}
 .select-width{
     padding: 12px 22px;
    border-radius: 3px;
    width: 100%;margin-bottom: 10px;
}

select.select-width {
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 2px solid rgba(0, 0, 0, 0.342);
    background: url(../img/path.svg);
    background-repeat: no-repeat;
    background-position: 98%;
} 
.form-label-text {
margin-bottom: 4px;
    font-size: 12px;
}
/*product requiest end*/


/*request product 1 start from here*/
.alert-bg-shadow{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #4BDE97;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.request-filter-box{
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);padding: 25px;margin-right:20px ;
}
.request-filter-box label{   
     padding-left: 10px;
    font-size: 14px;
    color: #767676;
}
.request-filter-box>h4{
    font-size: 18px;
}

.request-filter-box .checkbox:checked::before{
background-color:green;
}
.three-btn>button{
        padding: 10px 20px;
    font-size: 14px;
}
.blue-btn{
    background:#5D5FEF;border: none
 ;
}
.yellow-btn{
    background: #FFB648;border: none
}


/*checkbox color*/
.checkbox-color input:checked{
    background-color: red;
    columns: green;
}

.cart-css{
    position: relative;
}
.circle-number{
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}
.circle-number {
    background-color: #0c223d;
    padding: 1px;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 20px;
    height: 19px;
    right: 9px;
    top: -8px;
    text-align: center;
    font-size: 12px;
}
.font-weight-500{
    font-weight: 500;
}
 input.small-placeholder::placeholder{
    font-size: 14px;color:#D6D7E3;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 900px)
   {
.request-filter-box{
    margin-bottom: 20px;
}

.three-btn>button {
    padding: 10px 10px;
    font-size: 14px;
}

select.select-width option{
font-size: 9px;width: 30%;
} 

 td.qty select {
    width: auto;
}
    .left-all-published {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: column;
}
.page-filter-form {
    display: flex;
    align-items: normal;
    flex-direction: column;
}
.page-filter-form div:last-child {
    margin-left: 0;
    margin-top: 5px;
}
.all-page-table{
    width: 1200px;
}
.bothsearch-form {
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 900px) {
.about-me-box-one {
    padding: 20px;
    background: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.admin-box h3 {
    font-size: 35px;
     
}
}